@model LibraryMS.Models.Entity.tblMember

@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("EditMember", "Member", FormMethod.Post))
{
    <div class="form-control">
        @Html.LabelFor(a => a.Id)
        @Html.TextBoxFor(a => a.Id, new { @class = "form-control disabled", id = "disabledInput" })
        <br />
        @Html.LabelFor(a => a.Name)
        @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
        <br />
        @Html.LabelFor(a => a.Surname)
        @Html.TextBoxFor(a => a.Surname, new { @class = "form-control" })
        <br />
        <label>Mail Adresi</label>
        @Html.TextBoxFor(a => a.Mail, new { @class = "form-control" })
        <br />
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
        <br />
        <label>Telefon</label>
        @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
        <br />
        <label>Okul</label>
        @Html.TextBoxFor(a => a.School, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning mt-3">Üye Güncelle</button>

}

