@using LibraryMS.Models.Entity;
@model tblAction
@{
    ViewBag.Title = "LendBook";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form form-control" method="post">
    <h2>Kitap Ödünç Verme İşlemi</h2>
    <br />
    <label>Üye Id</label>
    @Html.TextBoxFor(c => c.Member, new { @class = "form-control" })
    <label>Kitap Id</label>
    @Html.TextBoxFor(b => b.Book, new { @class = "form-control" })
    <br />
    <label>Personel Id</label>
    @Html.TextBoxFor(b => b.Employee, new { @class = "form-control" })
    <br />
    <label>Kitap Alış Tarihi</label>
    <input type="text" name="PurchaseDate" class="form-control" value="@DateTime.Now.ToShortDateString()" />
    <br />
    <label>Kitap İade Tarihi</label>
    <input type="text" name="ReturnDate" class="form-control" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
    <br />
    
    <button type="submit" class="btn btn-info my-4">Kitap Ödünç Ver</button>

</form>