@using LibraryMS.Models.Entity
@model tblAuthor 

@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("AddAuthor","Author",FormMethod.Post))
            {
                    <div class="form-control">
                        @Html.LabelFor(a => a.Name)
                        @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                        <br />
                        @Html.LabelFor(a => a.Surname)
                        @Html.TextBoxFor(a => a.Surname, new { @class = "form-control" })
                        <br />
                        @Html.LabelFor(a => a.Detail)

                        @Html.TextBoxFor(a => a.Detail, new { @class = "form-control" })

                    </div>
                    <button class="btn btn-primary mt-3">Yazar Ekle</button>
                    
            }

